{% extends 'baseof.html' %} {% block titlepage %}{{name}}{% endblock %} {% block
title %}{{name}}{% endblock %} {% block content %}
<script
  src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
  integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D"
  crossorigin="anonymous"
  async
></script>

<div class="row">
  <div class="col">
    <div class="container-fluid bg-primary p-5 text-light rounded-3">
      <h4>Prossimo bus:</h4>
      {%if bus.id != ""%}
      <h2>#{{bus.id}}</h2>
      <h5>Posti occupati: {{bus.counter}}</h5>
      <p>Guarda la sua posizione in tempo reale sulla mappa.</p>
      {% else %}
      <p>Non disponibile, riprova più tardi.</p>
      {% endif %}
    </div>

    <div class="container-fluid mt-2 p-5 rounded-3 bg-light">
      {% if current_user.is_authenticated %}
      <h4>Benvenuto {{ current_user.name}}.</h4>

      <button
        class="btn btn-primary mt-2"
        onclick="book('{{bus.id | string}}', '{{current_user.id | string}}')"
        type="submit"
        {%if bus.id == ""%}disabled{%endif%}
      >
        Prenota un posto sul prossimo autobus
      </button>

      <a class="btn btn-warning mt-2" href="{{url_for('logout')}}"
        >Esegui il logout prima di allontanarti</a
      >

      {% else %}

      <button
        class="btn btn-warning"
        type="button"
        data-bs-toggle="modal"
        data-bs-target="#login"
      >
        Esegui l'accesso per prenotare un posto
      </button>

      {% endif %}
    </div>
  </div>
  <div class="col">
    <div id="map" style="width: 100%; height: 500px"></div>
  </div>
</div>

<button class="btn link-light" type="button" id="SerialConnectButton">
  Serial Connect
</button>

<div class="container-fluid mt-2 p-3 rounded-3 bg-light">
  <h2 class="m-2">Prossime linee:</h2>
  <select class="form-select m-2" aria-label="Disabled select example" disabled>
    <option selected>Seleziona la linea (not disponibile)</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <select class="form-select m-2" aria-label="Disabled select example" disabled>
    <option selected>Mattina</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>
  <select class="form-select m-2" aria-label="Disabled select example" disabled>
    <option selected>Seleziona il giorno (non disponibile)</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    <option value="3">Three</option>
  </select>

  <div class="row" data-masonry='{"percentPosition": true }' id="lines">
    {%for record in routes%}
    <div class="col-sm-6 col-lg-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Route id {{record.route_id}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">
            Expected departure Time {{record.departure_time}}
          </h6>
          <p class="cart-text">
            Direction: {{record.direction_id}}, day: {{record.giorno}}
          </p>
          {% if current_user.is_authenticated %}
          <button onclick="book('{{record.route_id | string}}', '{{current_user.id | string}}')" class="btn btn-primary">Prenota posto</button>

          {% else %} {% endif %}
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="login"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="{{ request.path }}" method="POST" class="card-body">
          {{ form.csrf_token }} {% with messages =
          get_flashed_messages(with_categories=true) %}
          <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
          {% if messages %} {% for category, message in messages %}
          <div
            class="alert alert-{{category}} alert-dismissible fade show"
            role="alert"
          >
            {{ message }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endfor %} {% endif %} {% endwith %}

          <div class="text-center">
            <h2>User Authentication</h2>
            <h5 class="text-primary">{{ text }}</h5>
          </div>

          <div class="form-group mb-3">
            {{ form.id(id="login_form_id",
            class_="form-control",placeholder="ID")}}
          </div>
          {% for error in form.id.errors %}
          <div
            class="alert alert-warning alert-dismissible fade show"
            role="alert"
          >
            {{ error }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endfor%}

          <div class="form-group mb-3">
            {{ form.key(id="login_form_key",
            class_="form-control",placeholder="Key")}}
          </div>
          {% for error in form.key.errors %}
          <div
            class="alert alert-warning alert-dismissible fade show"
            role="alert"
          >
            {{ error }}
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
          </div>
          {% endfor%}

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              data-bs-dismiss="modal"
            >
              Annulla
            </button>
            <button type="button" class="btn btn-primary" id="readtag">
              Leggi tag
            </button>
            <button type="submit" class="btn btn-block btn-success">
              {{ btn_action }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
      const stationsList = {{ stations | safe}};

      function book (id, user) {
        let data = {
          "bus" : id,
          "user" : user,
          "stop": stationsList[0].id,
          "time": Date.now()
        }
        console.log(data)
        fetch("/set/", { method:"POST", body: JSON.stringify(data ) })
        .then(res => {
          if (res.status==200) { alert("Booked"); }
          else {
            console.error(res);
            alert("Opps an error has occured.");
          }
        })
        .catch(err => {
          console.error(err);
          alert("Opps an error has occured.");
        });

    }



        
  </script>

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='main.js') }}"
  ></script>

  <script
    type="text/javascript"
    src="{{ url_for('static', filename='serial.js') }}"
  ></script>

  <script>
    displayMap({{bus.location}});
  </script>

  {% endblock %}
</div>
