{% extends 'baseof.html' %} {% block header %}

<h1>{% block title %}{{name}}{% endblock %}</h1>
{% endblock %} {% block content %}
<div class="row">
  <div class="col-3">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Padelloni_sul_molo_-_panoramio.jpg/1200px-Padelloni_sul_molo_-_panoramio.jpg" class="img-fluid rounded-2" alt="...">

    {% for station in stations %}
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title">{{station.name | e}}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{station.code | e}}</h6>
        <a href="{{loop.index}}" class="card-link">Stop link</a>
      </div>
    </div>


    {% endfor %}



  </div>
  <div class="col">
    <div id="map" style="width: 100%; height: 500px"></div>

  </div>


<script>
  const stationsList = {{ stations | safe}}
</script>

<script type="text/javascript"
src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
