{% extends 'baseof.html' %} 
{% block titlepage %}{{name}}{% endblock %}
{% block title %}{{name}}{% endblock %}
 {% block content %}



<div class="row">
  <div class="col">
    <div class="container-fluid bg-primary p-5 text-light rounded-3">
      <h4>Next bus:</h4>
      <h2>7 min</h2>
      <p>See its live location on the map.</p>

    </div>
  </div>
  <div class="col">
    <div id="map" style="width: 100%; height: 500px"></div>
  </div>
</div>


<div class="container-fluid mt-2 p-3 rounded-3 bg-light">
  <h2 class="m-2">Next Lines:</h2>
  <select class="form-select m-2" aria-label="Disabled select example" disabled>
        <option selected>Select route (not avaible)</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
  </select>
  <select class="form-select m-2" aria-label="Disabled select example" disabled>
        <option selected>Select day (not avaible)</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
  </select>
  
  <div class="row row-cols-auto" id="lines">
    {%for record in routes%}
    <div class="col m-3 p-1">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Route id {{record.route_id}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">Expected departure Time {{record.departure_time}}</h6>       
          <p class="cart-text">Direction: {{record.direction_id}}, day: {{record.giorno}}</p>
        </div>
      </div>  
    </div>
    {%endfor%}
  </div>
</div>


<script>
  const stationsList = {{ stations | safe}};
</script>

<script type="text/javascript"
src="{{ url_for('static', filename='main.js') }}">
</script>

<script>
  displayMap()
</script>


{% endblock %}
